.overflow_area{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    .form-progress {
        position: relative;
        display: block;
        padding: 10px;
        height: 60px;
        margin: 0 auto;
        .progress{
            height: 7px;
            width: 100%;
            position: absolute;
            top: 10px;
            left: 5px;
        }
    }
}

.form-progress-indicator {
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
    line-height: 28px;
	background: rgb(231, 231, 231);
	border: 2px solid #ddd;
	border-radius: 50%;
	transition: all .2s ease-in-out;
	transition-delay: .3s;
	will-change: transform;
    text-align: center;
	z-index: 100;
	&.one	{ left: 5%; }
	// &.two 	{ left: 12%; }
	// &.three { left: 24%; }	
	// &.four 	{ left: 36%; }	
	// &.five 	{ left: 48%; }	
	// &.six 	{ left: 60%; }	
	// &.seven 	{ left: 72%; }	
	// &.eight 	{ left: 85%; }	
	// &.nine 	{ left: 97%; }	
	
	&.actives {
		animation: bounce .5s forwards;
		animation-delay: .5s;
		border-color: $primary;
		background-color:$primary;
        color: $white;
        .stepName{
            color:$primary ;
        }
	}
    &.hidden{
        display: none;
    }
    &.secondPre{
        left: 0%;
    }
    &.prev{
        left: 25%;
    }
    &.selected{
        left: 50%;
    }
    &.next{
        left: 75%;
    }
    &.secondNext{
        left: 100%;
    }
    &.secondNext ~ div{
        display: none;
    }
    .stepName{
        position: absolute;
        width: 100px;
        left: -35px;
        text-align: center;
    }
}

.step-container{
    display: flex;
    justify-content: center;
    .form-step{
        &.hidden{
            display: none;
        }
        .accordion-button{
            padding: 10px;
        }
        .input-group{
            span{
                margin: 10px !important;
            }
        }
    }
    .check-Step{
        .nav-link{
            &.active{
                color: brown;
            }
            &.onPage{
                background-color: rgb(219, 243, 250);
                border-radius: 5px;
            }
            .far{
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
}
